# Python standard
__pycache__/
*.pyc
*.pyo
*.pyd
*build/
*develop-eggs/
*dist/
*downloads/
*eggs/
*.egg-info/
*lib/
*lib64/
*parts/
*sdist/
*var/
*wheels/
*share/python-wheels/
*.egg-info/
.installed.cfg
*.manifest
*.spec

# Virtual Environments
venv/
env/
.venv/
.env/

# Secrets and credentials
.env


*.csv
*.db
*.sqlite3


*.joblib
*.pkl

# IDE / Editor-filer
.vscode/
.idea/

# OS-specifika filer
.DS_Store

config.py
_TEST_config.py
incomingnumber.csv